<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Input and Add Task Buttons -->
  <ion-item>
    <ion-label position="floating">Add Task</ion-label>
    <ion-textarea [(ngModel)]="inputText"></ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-button [disabled]="!inputText.trim()" expand="full" (click)="addTask(inputText)">Add Task</ion-button>
  </ion-item>

  <!-- Task List using @for() -->
  <ion-list>
    @for (task of tasks; track task.objectId) {
    <ion-item>
      <ion-label>
        {{ task.title }}
        <ion-button fill="clear" (click)="readTask(task.title)">🔊</ion-button>
      </ion-label>

      <ion-button *ngIf="task.objectId" fill="clear" color="danger" (click)="deleteTask(task.objectId)">
        Delete
      </ion-button>
    </ion-item>
    }
  </ion-list>
</ion-content>